.input {
  width: 25vw;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #867d7d;
  text-align: center;
  outline: none;
  cursor: pointer;
  left: 30%;
  top: 15%;
  position: fixed;
}

.button {
  left: 55%;
  top: 15%;
  position: fixed;
}
